body {
  background-color: #eeec8d;
  font-size: 50px;
  color: #244751;
}
body h1 {
  color: #244751;
}

button {
  background-color: orange;
  border-radius: 5px;
}

.navbar {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gold;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar .logo {
  padding-top: 0.4em;
  padding-left: 1em;
  font-weight: bold;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
}
.navbar .write {
  padding-right: 2em;
  padding-top: 0.7em;
  font-size: 1.5em;
}

.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
.container .create-story-container .create-story {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.container .create-story-container .create-story #title {
  padding: 5px;
  width: 850px;
  height: 70px;
  margin-top: 30px;
  font-family: "Caveat", cursive;
}
.container .create-story-container .create-story #abstract {
  padding: 5px;
  width: 850px;
  height: 500px;
  font-family: "Caveat", cursive;
}
.container .create-story-container .render-titles {
  border: 5px solid red;
}
.container .create-story-container .render-titles .titles {
  font-family: "Caveat", cursive;
}
.container .create-story-container .contribution {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.container .create-story-container .create-contribution {
  padding-bottom: 2em;
}
.container .create-story-container .create-contribution .form-button {
  background-color: peru;
}

.upvote-count {
  color: #244751;
}

.upvote {
  width: 50px;
  height: 50px;
  padding: 0.3em;
}
.upvote.liked svg {
  color: red;
}
.upvote svg {
  color: white;
}

.abstracts {
  font-family: "Caveat", cursive;
}

.story-container {
  font-family: "Caveat", cursive;
}
.story-container .render-story-button {
  font-family: sans-serif;
}

.story-id {
  font-size: 1px;
  color: #eeec8d;
}

.title {
  padding-bottom: 5rem;
}

#contribution-text {
  font-family: "Caveat", cursive;
  padding-left: 2px;
  width: 850px;
  height: 500px;
}

.contribution-content {
  font-family: "Caveat", cursive;
}

.contribution-owner {
  font-family: "Caveat", cursive;
}

.completion-status {
  font-size: 25px;
  padding-top: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.date {
  font-size: 25px;
  padding-bottom: 1em;
}

.form-button {
  margin-top: 1em;
}

.vote-div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.add-contribution {
  margin-bottom: 1em;
}
